/* globals.css */

/* Tailwind CSS Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
@layer base {
  :root {
    --background: 48, 36%, 95%;
    --foreground: 72, 9.43%, 31.18%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 70.91, 10.78%, 60%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 70.91, 10.78%, 60%;
    --divider: 70.91, 10.78%, 60%;
    --input: 214.3 31.8% 91.4%;
    --ring: 70.91, 10.78%, 60%;
    --radius: 0;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --button-bg: #A0A48E;
    --button-bg-foreground: #636558;
    --button-text: #FFFFFF;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  * {
    @apply border-border;
  }

  html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;
    overflow-x: hidden;
  }
  html body {
    padding: 0;
    margin: 0;
    overflow-x: inherit;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;

  }

  .section-styles {
    @apply flex flex-col justify-center items-center px-5 py-18;
  }

  .container-full {
    @apply w-full max-w-full md:max-w-7xl mx-auto ;
  }

  .content-section {
    @apply w-full
  }


  /*.about-us-right {
    grid-area: 1 / 2 / 2 / 5;
  }
  .about-us-left {
    grid-area: 1 / 1 / 2 / 3;
  }*/
  @media screen and (max-width: 767px) {
    .about-us-right {
      grid-area: span 1 / span 1 / span 1 / span 1;
    }
    .about-us-left {
      @apply -order-last;
      grid-area: span 1 / span 1 / span 1 / span 1;
    }
  }
}