/* styles/Gallery.module.css */
.gallery-container {
  text-align: center;
  margin: 20px auto;
}

.gallery-container h2 {
  font-size: 24px;
  font-weight: bold;
}

.gallery-container p {
  margin: 10px 0;
  color: #666;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-areas:
      "item-1 item-1 item-2"
      "item-3 item-4 item-4"
      "item-5 item-3 item-5";
}

.item {
  position: relative; /* Asegura que el contenedor de la imagen tenga una posición no estática */
  width: 100%;
  padding-bottom: 100%; /* For 1:1 aspect ratio */
  overflow: hidden;
}

.item-1 { grid-area: item-1; }
.item-2 { grid-area: item-2; }
.item-3 { grid-area: item-3; }
.item-4 { grid-area: item-4; }
.item-5 { grid-area: item-5; }

.item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}